node_modules
npm-debug.log
.npm
.git
.gitignore
README.md
.env
.nyc_output
coverage
.DS_Store
auction-client/node_modules
auction-client/.next
auction-client/package-lock.json
package-lock.json
